.fi {
    background-position: center center;
    background-size: cover;
    height: 350px;
    width: 100%;
}
.fi--zoom {
    height: 175px;
}

.excerpt {
    padding: 20px; box-sizing: border-box;
}
